.color{
    background-color: rgb(223, 223, 223);
}

.logopng{
    border-radius: 50px;

    width: 85px;
    height: 85px;
}


.button-login{
    background-color: rgb(223, 223, 223);



}


.color1{
    background-color: red;
}


.color-somos{
    background-color: rgb(223, 223, 223);
}

.txt-somos{
    text-align: center;

}

.img-tractor{
    width: 300px;
}

.txt-somos p{
    font-size: 25px;
}

.txt-somos h2{
    font-size: 35px;
}

.modulos{
    padding: 15px;
    background-color: rgb(223, 223, 223);
}


#row-modulos img{
    border-radius: 35%;
    margin-top: 15px;
}

#row-modulos button{

    color: rgb(98, 190, 36);
    font-size: 25px;
}

#row-modulos p{

    color: white;
    font-size: 15px;
}

.card{
    align-items: center;
    border-radius: 10%;
    background-color: #573F19;
}

#row-modulos{

    background-color: rgb(223, 223, 223);
}


.color-modulos{
    background-color: #84b965;
}

.img1{
    width: 150px;  
    height: 150px;
}

.img2{
    width: 150px;  
    height: 150px;

    
}
.img3{
    width: 150px;  
    height: 150px;

    
}
.img4{
    width: 150px;  
    height: 130px;

    
}

.color-contactenos{
    background-color: rgb(223, 223, 223);
}
.color-contactenos img{
    border-radius: 35%;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.card1{
    text-align: center;

}



#row-pie{

    background-color: #686767;
   
}



#row-pie .grupo2 img{

    width: 30px;
    margin: 10px;

}

#row-pie a:link{
    color: #ffffff;
    text-decoration: none;

}
#row-pie a:visited{
    color: #ffffff;
    text-decoration: none;

}
#row-pie a:hover{
    color: #ffffff;
    text-decoration: none;

}
#row-pie a:active{
    color: #ffffff;
    text-decoration: none;

}

#row-pie .pie-bajo{
   
    background-color: #5E5E5E;


}


#row-pie .pie-bajo p{
   
   
    padding: 5px 0px;
    margin: 0px;
    color: #ffffff7a;
    font-family: 'Times New Roman', Times, serif;
    

}